LevelOneOutput swedish
nospace_password no

cfmfile c:\timed\cfm.tpl
replytocfm yes
localfiles c:\timed\local
respectprivate yes

OS2 exespell spell.cmd [file]
386 exespell spell.bat [file]
DOS exespell spell.bat [file]

;exespell c:\ispell\ispelite [file]
;execrypt e:\pgp\pgp [file] -o [file]
;execrypt d:\timed\crypt.cmd [file]
;exesign d:\timed\sign.cmd [file]
execryptsign d:\timed\both.cmd

Internet_Empty_line no

DOS spellcheck_default no

EXECRYPT d:\pgp\PGP.EXE -ea [file] -u art -o [newfile]
EXESIGN  d:\pgp\PGP.EXE -sta [file] -u art -o [newfile]

;V7modemtypebit     1  H16
;V7modemtypebit     2  V32
;V7modemtypebit     4  ZYX
;V7modemtypebit     8  V32B
;V7modemtypebit    16  VFC
;V7modemtypebit    32  V32T
;V7modemtypebit    64  V34
;V7modemtypebit   128  ISDNC

V7modemtypevalue  1  V34
V7modemtypevalue  2  VFC
V7modemtypevalue  3  V32T
V7modemtypevalue  4  H16

V7nodeflagbit      1  HUB
V7nodeflagbit      2  HOST
V7nodeflagbit      4  REGION
V7nodeflagbit      8  ZONE
V7nodeflagbit     16  CM
V7nodeflagbit     32  MO
V7nodeflagbit     64  LO
V7nodeflagbit    256  NC
V7nodeflagbit    512  ZEC
V7nodeflagbit   1024  REC
V7nodeflagbit   2048  NEC

;DefaultOutput IBMPC
;ConvertOutput     LATIN-1  latin latin2
;ConvertOutput     MAC mac
;ConvertOutput     swedish zweden

;DefaultInput VT100
;AssumeCharset MAC LATIN

jamgetlast yes
ccverbose no
arcmailattach yes
;entermarks no
arealistsort ta

uucpname uucp
uucpaddress 2:281/514.998

;drivereplace c: f:

jam_zonegate_bit yes

clock yes

Name  "Gerard van Essen"
Name  "Gerard van.Essen"

lowlevelkb no

;netmail_semaphore c:\fd\fdrescan.now

editsavemenu yes

freqattributes c

Address 2:280/408
Address 2:281/527
Address 2:281/527.1
Address 2:281/500.1
Address 60:60/1
Address 81:431/803
Address 2:283/416
Address 2:280/810.301
Address 2:280/810.666


AKAforce  2:281/500.* 2:281/500.1

readnetareas yes
readlocalareas yes

;Nodelist c:\nodelist\v7

fidouser c:\fd\nodelist\fidouser.lst

;fdnodelist c:\frodo\nodelist

Squishcfg c:\fido\squish\squish.cfg

;;areasbbs c:\fe\areas.bbs
;FastechoCFG d:\fesq\fastecho.cfg
;GEchoCFG c:\gecho\setup.ge
;ImailCFG c:\imail\imail.cf
;fmailcfg d:\fmail\fmail.cfg
;xmailcfg c:\xmail\areas.xm
;WtrGateCfg d:\tmp\wtrcfg.tdb
;Soup2SQCFG d:\soup\soup2sq.cfg

;squish_offset 2
;hudson_offset
;lastread lastreaA


jumpy_edit yes

editor internal
;Editor edit.bat
;DOS editor q.exe
;386 editor q.exe

hello           "Hello %fto!"
rephello        "-=> Hello, %thisfto\n\n%from wrote in a message to %to:"
Signoff         "Groetjes,\n      Gerard\n"
followhello     "Following up a message from %from to %to"

Origin " CONTRAST | TSARTNOC "

netmail_tearline yes

;confirm_edit_exit yes

;show_edit_hcr no

empty_tearline no

;End_Of_Area_Menu yes

move_notes no

;writefile c:\tc\timed\timprn.txt

;EchoLog d:\timEd\echotoss.log
;jamlog d:\timed


HudsonPath d:\fmail\msgbase\
;HudsonPath c:\xmail\msgbase

;lastread lastreaA
;Squish_Offset 1

;akamatching yes

INTLFORCE no

macro    am,areamgr,2:281/0,jarre
macro et,Erik Troost,2:500/527.2
macro rvdn,ROn van.der.Nagel,2:500/133,pietje puk
usenetmacro au,art@berad.nest.nl,postmaster,60:60/0,usenet subject
usenetmacro bu,berend@beard.nest.nl,postmaster,60:60/0
;usenetmacro xx,berend@beard.nest.nlidewuiuiewuideuihiuehiudiuuiwhduihwuihduiuideuidhxxxxxxx,postmaster,60:60/0

Usenetmacro md,Mark.Derricutt@chalice.ccc.gen.nz,UUCP,2:250/107.3
Usenetmacro nj,njay@filklore.demon.co.uk,UUCP,2:250/107.3



writename     e:\timed\timout.txt
writename   e:\timed\een.txt
writename  e:\timed\twee.txt
writename    e:\timed\drie.txt
;writename  e:\timed\dit\is\een\hele\lange\naam\van\een\directory\die niet\eens\op\het\scherm\past

; ========== GvE ==========
; Area selection 'Title' Bar
color_asbar    112
; Area Selection Frame
color_asframe    4
; Area Selection Normal Text
color_astext    7
; Area Selection Highlighted bar
color_ashigh    31

;; Message reader Header
color_msgheader    7
color_msgdata    15
color_msglinks    3
color_msgattribs    3
color_msgdate    14
; Message reader horiz. line
color_msgline    9
; Message reader quotes
color_msgquote    14
; Message reader normal text
color_msgtext    7
; Message reader 'Status' bar at bottom
color_msgbar    31
color_msgorigin    15
color_msgkludge    3
color_msgspecial    12

color_entry    30
;
color_popframe    121
color_poptext    112

color_editcurnormal    15
color_editcurquote    6
color_editcurblock    113
color_editblock    112
color_edithcr    8

;Include d:\tc\timed\colours.ew
;Include d:\tc\timed\colours.gve

;Area selection 'Title' Bar
;color_asbar      14
; Area Selection Frame
;color_asframe     9
; Area Selection Normal Text
;color_astext     15
; Area Selection Highlighted bar
;color_ashigh     79
; List function personal messages
;color_asspecial  14

; Message reader Header
;color_msgheader   31
; Message reader horiz. line
;color_msgline     9
; Message reader quotes
;color_msgquote   14
; Message reader normal text
;color_msgtext    7
; Message reader 'Status' bar at bottom
;color_msgbar     79
; Message reader origin
;color_msgorigin  15
; Message reader kludges
;color_msgkludge  8
; Message reader 'To:' field for personal msgs, and highlight for the
;color_msgspecial 79

; Popup boxes frame
;color_popframe  12
; Popup boxes text
;color_poptext  15


; -=-=-=-=-=-=-=-

;   color_asbar      56
;   color_asframe    49
;   color_astext     48
;   color_ashigh     31
;   color_asspecial  62
;   color_msgheader  26
;   color_msgline    30
;   color_msgquote   31
;   color_msgtext    23
;   color_msgbar    116
;   color_msgorigin  28
;   color_msgkludge  24
;   color_msgspecial 30
;   color_popframe  121
;   color_poptext   112
;

; -=-=-=-=-=-=-=-


;include  e:\timed\timed.col
;include c:\timed\timed.col

;showkludges yes

swap_on_shell yes
swap_on_edit  yes

Kill_Original no

Personal_Skip_received Yes

;Confirm_Exit No
;Confirm_Delete Yes

ZoneGate ask

;Printer lpt1

Startup_Scan no
;Startup_Mode newtagged
;Startup_Lines


NetArea "netmail"  netml    d:\timed\netmail\netmail -Ap -$
LocalArea "local Squish"  localquish    d:\timed\squish\local -Ap -$
;LocalArea "local JAM"  localjam    c:\timed\local -Ap -J

color_asspecial    14

color_findtext     7
color_finddata     3
color_findhigh     113
color_findactive   11
color_findpassive  1
color_poptitle     30
color_asaccent     14
color_ashighaccent 126
color_msgbaraccent 126

include d:\timed\timed.col

